<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aluno</title>
</head>
<body>
    <h1><a href="{% url 'index' %}">Portal</a></h1>
    <p>
            <table>            
                <tr>
                    <td>matrícula:  {{student.matricula}}</td>
                    <td>nome: {{ student.nome }}</td>
                </tr>
                <tr>
                    <td>curso: {{student.curso}}</td>
                    <td>situação: {{student.situacao}}</td>
                </tr>
                <br><br>
            </table>
    </p>
</body>
</html>