{% extends 'core/base.html' %}

{% block title %}
    <title>Delete</title>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <p><h3>Are you sure you want to delete "{{ object }}"?</h3></p>

        <table>
            <tr>
                <td><form method="post">{% csrf_token %}
                    {{ form }}
                    <input type="submit" class="btn btn-danger" value="Confirm">
                </form></td>
                <td><form action="{% url 'index' %}">{% csrf_token %}
                    <input type="submit" class="btn btn-success" value="Cancel">
                </form></td>
            </tr>
        </table>
    </div>
{% endblock %}