{% extends 'core/base.html' %}

{% block title %}
    <title>Aluno</title>
{% endblock %}

{% block content %}
    <div class="container">
        <ul class="list-group">
            <li class="list-group-item">Matrícula:  {{student.matricula}}</li>
            <li class="list-group-item">Nome: {{ student.nome }}</li>
            <li class="list-group-item">Curso: {{student.curso}}</li>
            <li class="list-group-item">Situação: {{student.situacao}}</li>
        </ul>
    </div>
{% endblock %}