<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .table-b {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
    <title>Alunos</title>
</head>
<body>
    <p>
        <h1>
            Alunos
        </h1>

        <form>
            {% csrf_token %}
            <input type="search" placeholder="buscar..." name="search">
            <button type="submit">Search</button>
        </form>

        <p>
            {% for aluno in alunos %}
                <table>            
                    <tr>
                        <td>matrícula:  {{aluno.matricula}}</td>
                        <td>nome: {{ aluno.nome }}</td>
                    </tr>
                    <tr>
                        <td>curso: {{aluno.curso}}</td>
                        <td>situação: {{aluno.situacao}}</td>
                    </tr>
                    <br>
                </table>
            {% endfor %}
        </p>
    </p>

    <br><br>

    <table class="table-b">
        <tr class="table-b">
            <th class="table-b">
                Matrícula
            </th>
            <th class="table-b">
                Nome
            </th>
            <th class="table-b">
                Curso
            </th>
            <th>Ação</th>
        </tr>

        {% for aluno in page_obj %}
        <tr>
            <td class="table-b">
                {{ aluno.matricula }}
            </td>
            <td class="table-b">
                {{ aluno.nome }}
            </td>
            <td class="table-b">
                {{ aluno.curso }}
            </td>
            <td class="table-b">
                <table>
                    <tr>
                        <td>
                            <!-- <a href="{% url 'detail' aluno.id %}">details</a> -->
                            <form action="{% url 'detail' aluno.id %}">
                                {% csrf_token %}
                                <input type="submit" name="detail" value="view">
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'edit' aluno.id %}" method='post'>
                                {% csrf_token %}
                                <input type="submit" name="edit" value="edit">
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'delete' aluno.id %}" method='post'>
                                {% csrf_token %}
                                <input type="submit" name="delete" value="delete">
                            </form>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        {% endfor %}
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</body>
</html>