{% extends 'core/base.html' %}

{% block title %}
    <title>Alunos</title>
{% endblock %}

{% block search %}
    <a href="{% url 'register' %}">Register</a>

    <form class="d-flex" action="{% url 'list' %}" role="search">
        {% csrf_token %}
        <i class="bi bi-search"></i>
        <input class="form-control me-2" type="search" placeholder="buscar..." aria-label="Search" name="search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
{% endblock %}

{% block content %}
    <br>

    <div class="container">   
        <table class="table bg-body-tertiary table-sm rounded">
            <tr>
                <th>
                    Matrícula
                </th>
                <th>
                    Nome
                </th>
                <th>
                    Curso
                </th>
                <th>Ação</th>
            </tr>

            {% for aluno in page_obj %}
                <tr>
                    <td>
                        {{ aluno.matricula }}
                    </td>
                    <td>
                        {{ aluno.nome }}
                    </td>
                    <td>
                        {{ aluno.curso }}
                    </td>
                    <td>
                        <table class="rounded-bottom">
                            <tr>
                                <td>
                                    <form action="{% url 'detail' aluno.id %}">
                                        {% csrf_token %}
                                        <!-- <input type="submit" name="detail" value="view"> -->
                                        <button class="btn btn-info" type="submit" name="detail">view</button>
                                    </form>
                                </td>
                                <td>
                                    <form action="{% url 'update' aluno.id %}">
                                        {% csrf_token %}
                                        <!-- <input type="submit" name="student" value="edit"> -->
                                        <button class="btn btn-success" type="submit" name="student">edit</button>
                                    </form>
                                </td>
                                <td>
                                    <form action="{% url 'delete' aluno.id %}">
                                        {% csrf_token %}
                                        <!-- <input type="submit" name="delete" value="delete"> -->
                                        <button class="btn btn-danger" type="submit" name="delete">delete</button>
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    </div>
    <footer>
        <div class="center">
            <table>
                <div id="botton-pagination">
                    <nav>
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                {% if page_obj.number > 2 %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page=1">&laquo; first</a>
                                    </li>
                                {% endif %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
                                </li>
                            {% endif %}
                    
                            <li class="page-item disabled">
                                <a class="page-link" href="#">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                </a>
                            </li>
                    
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </table>
        </div>
    </footer>

{% endblock %}