<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lists</title>
</head>
<body>
    <p><h1>Alunos</h1></p>

    <ul>
        {% for aluno in page_obj %}
            <li>
                <p>{{aluno.maticula}}  {{aluno.nome}}</p>
            </li>
        {% endfor %}
    </ul>

    <span>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Previous </a>
        {% endif %}

        {% if page_obj.has_next %}
            <br>
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
        <br>
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
</body>
</html>